[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:bulletme/emacs.d
[submodule "tmux"]
	path = tmux
	url = git@github.com:toddyamakawa/tmux
[submodule "vim"]
	path = vim
	url = git@github.com:toddyamakawa/vim
[submodule "zsh"]
	path = zsh
	url = git@github.com:toddyamakawa/zsh
[submodule "bin"]
	path = bin
	url = git@github.com:toddyamakawa/bin
