[submodule "repos/emacs.d"]
	path = repos/emacs.d
	url = https://github.com/bulletme/emacs.d
[submodule "tmux"]
	path = tmux
	url = https://github.com/toddyamakawa/tmux
[submodule "vim"]
	path = vim
	url = https://github.com/toddyamakawa/vim
