
snippet vnc "vncserver :1" b
@reboot vncserver :1 -geometry 1920x1015
endsnippet

snippet day "weekdays at 4 PM" b
# Run on weekdays at 4 PM
0 16 * * 1-5 $1
endsnippet

snippet hour "hourly" b
# Run every hour
0 */1 * * * $1
endsnippet

